{% extends "base.html" %} {% block content %}
<div class="thumbnail">
	<div class="jumbotron">
		<h4 class="text-green">[ <span class="fa fa-list"></span> ]</h4>
		<hr class="hr-green">
		<h3>What are Chatterbots ?</h3>
		<span>
			A chatbots (or chatterbot, or chat bot) is a computer program designed to simulate an intelligent
			conversation with one or more human users via auditory or textual methods. Programs playing this role are sometimes referred to as Artificial Conversational Entities, talk bots or chatterboxes. (<a href="http://Wikipedia.org">Wikipedia.org</a>, 2015)
		</span>
		<h3>What is artificial intelligence (AI)?</h3>
		<span>
			Artificial intelligence (AI) is the intelligence exhibited by machines or software
			and the branch of computer science that aims to create it. Textbooks define the field as
			"the study and design of intelligent agents," where an intelligent agent is a system that perceives
			its environment and takes actions that maximize its chances of success. (<a href="http://Wikipedia.org">Wikipedia.org</a>, 2015)
		</span>
		<h3>Do <a href="http://makemybot.com">makemybot.com</a> uses machine learning?</h3>
		<span>
			No, it doesn't, <a href="http://makemybot.com">makemybot.com</a> chatbots simply store question pattern for each answer and when question pattern is matched it displays coresspoding answer.
		</span>
		<h3>Can I embed chatbot to a website?</h3>
		<span>
			Yes, you can but you can embed only your own chatbots.  
		</span>
		<h3>Can I make multiple chatbots?</h3>
		<span>
			No, you can only make one chatbot per account.  
		</span>
	</div>
</div>
{% endblock %}