{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3 text-center">
                {% load static %}
                <img class="img-thumbnail" src="{% static 'img/chatty.png' %}" alt="Chatty">
            </div>
            <div class="col-md-9">
                <h2>welcome {% if username %}{{username}}{% else %}guest{% endif %}!</h2>
                <p>makemybot.com allows user to built their own customised chatbot which can be used at other places.</p>
                <div class="well text-center">
                    {% if username %}
                    <a href="{% url 'chat' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="chat">
                        <span class='fa fa-comments-o fa-2x'></span>
                    </a>
                    <a href="{% url 'teach00' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="teach">
                        <span class='fa fa-pencil-square-o fa-2x'></span>
                    </a>
                    <a href="{% url 'setting00' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="settings">
                        <span class='fa fa-cogs fa-2x'></span>
                    </a>
                    <a href="{% url 'embed' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="embed">
                        <span class='fa fa-code fa-2x'></span>
                    </a>
                    {% endif %}
                    <a href="{% url 'chatbots00' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="chatbots">
                        <span class='fa fa-users fa-2x'></span>
                    </a>
                    <a href="{% url 'guide' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="guide">
                        <span class='fa fa-question-circle-o fa-2x'></span>
                    </a>
                    <a href="{% url 'faqs' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="faqs">
                        <span class='fa fa-list fa-2x'></span>
                    </a>
                    <a href="{% url 'contact' %}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="contact">
                        <span class='fa fa-envelope-o fa-2x'></span>
                    </a>
                </div>
			</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}