@font-face {
    font-family: Agency FB;
    src: url('../fonts/agency-fb.ttf');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 595px) {
    .navbar-nav>li>a {
        width: 100%;
    }
}
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-body {
    padding-top: 64px;
    background-image: url("/static/img/bgdesign.png");
    font-family: Agency FB;
}

#menuChat {
    background-color: #C0392B;
}

#menuTeach {
    background-color: #2980B9;
}

#menuEmbed {
    background-color: #E67E22;
}

#menuSetting {
    background-color: #16A085;
}

#menuChatBots {
    background-color: #E74C3C;
}

#menuGuide {
    background-color: #3498DB;
}

#menuFaq {
    background-color: #27AE60;
}

#menuContact {
    background-color: #F39C12;
}

#menuChat,
#menuTeach,
#menuEmbed,
#menuSetting,
#menuChatBots,
#menuGuide,
#menuFaq,
#menuContact {
    transition: all .3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-right: 5px;
    font-size: 32px;
}

#menuChat:hover,
#menuTeach:hover,
#menuEmbed:hover,
#menuSetting:hover,
#menuChatBots:hover,
#menuGuide:hover,
#menuFaq:hover,
#menuContact:hover {
    background-color: #CCCCCC;
    color: #000000;
}

#menuStrip {
    height: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: background-color .3s;
}

#pageHeader {
    font-size: 38px;
    padding-top: 10px;
}

#mainDiv {
    margin-bottom: 10px;
    margin-top: 10px; 
}

#pageFooter {
    padding: 10px;
}

#chatBox {
    overflow: auto;
    height: 370px;
    max-height: 370px;
}

#botUpload {
    display: none;
}

#botImage {
    height: 150px;
    width: 150px; 
}


.menu-active {
    padding-bottom: 6px;    
}

.navbar-default .navbar-nav>li>a {
    color: #F1F1F1;
}

.navbar-default {
    background-color: #F1F1F1;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.custom-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);    
}

.custom-font {
    font-family: "Agency FB", Times, serif;
    font-size: 30px;
}

.custom-nav-image {
    max-height: 68px;
    transition: all .3s;
}

.custom-nav-image:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.font-size-small {
    font-size: 22px;
}

.font-size-medium {
    font-size: 24px;
}

.font-size-large {
    font-size: 28px;
}

.chat-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bubble-header {
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bubble-body {
    padding: 5px;
    font-size: 22px;
}
.bubble-footer {
    font-size: 16px;
}

.avtaar
{
    width: 70px;
    vertical-align: top;
    padding: 5px;    
}
.avtaar-img {
    width: 70px;
    height: 70px;
    border: 1px solid #021a40;
}

.light-red {
    background-color: #FADBD8;
}
.light-yellow {
    background-color: #FDEBD0;
}

.bubble-bot {
    max-width: 65%;
    color: #21618C;
    background-color: #D6EAF8;
    border-radius: 2px;
    border: 1px solid #317787;
    box-shadow: 0 0 6px #b2b2b2;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
    vertical-align: top;
}
.bubble-bot::before {
    background-color: #D6EAF8;
    border-left: 1px solid #21618C;
    border-bottom: 1px solid #21618C;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 11px;
    transform: rotate( 45deg);
    -moz-transform: rotate( 45deg);
    -ms-transform: rotate( 45deg);
    -o-transform: rotate( 45deg);
    -webkit-transform: rotate( 45deg);
}
.bubble-user {
    max-width: 65%;
    color: #196F3D;
    background-color: #D4EFDF;
    border-radius: 2px;
    border: 1px solid #196F3D;
    box-shadow: 0 0 6px #b2b2b2;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
    vertical-align: top;
}
.bubble-user::before {
    background-color: #D4EFDF;
    border-right: 1px solid #196F3D;
    border-top: 1px solid #196F3D;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 11px;
    transform: rotate( 45deg);
    -moz-transform: rotate( 45deg);
    -ms-transform: rotate( 45deg);
    -o-transform: rotate( 45deg);
    -webkit-transform: rotate( 45deg);
}
.bot {
    float: left;
    margin: 5px 45px 5px 20px;
}
.bot::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
    left: -6px;
}
.user {
    float: right;
    margin: 5px 20px 5px 45px;
}
.user::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
    right: -6px;
}

.checkbox-size-large {
    width: 20px; 
    height: 20px;
}

.button {
    outline: 0;
    border: none;
    font-size: 24px;
    min-width: 100px;
    padding: 8px;
    color: #F1F1F1;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-color: #5fa2dd;
    border-radius: 5px; 
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button:disabled {
    pointer-events: none;
    background-color: #DFDFDF;
    box-shadow: none;
    color: #9F9F9F;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-col-grey {
    color: #000000;
    background-color: #CCCCCC;
}

.button-col-grey:hover {
    background-color: #CACFD2;
}

.button-col-grey:active {
    background-color: #D7DBDD;
}

.button-col-red {
    color: #F1F1F1;
    background-color: #E74C3C;
}

.button-col-red:hover {
    background-color: #EC7063;
}

.button-col-red:active {
    background-color: #F1948A;
}

.button-col-blue {
    color: #F1F1F1;
    background-color: #3498DB;
}

.button-col-blue:hover {
    background-color: #5DADE2;
}

.button-col-blue:active {
    background-color: #85C1E9;
}

.button-col-green {
    color: #F1F1F1;
    background-color: #27AE60;
}

.button-col-green:hover {
    background-color: #52BE80;
}

.button-col-green:active {
    background-color: #7DCEA0;
}

.button-col-orange {
    color: #F1F1F1;
    background-color: #F39C12;
}

.button-col-orange:hover {
    background-color: #F5B041;
}

.button-col-orange:active {
    background-color: #F8C471;
}

.button-col-purple {
    color: #F1F1F1;
    background-color: #8E44AD;
}

.button-col-purple:hover {
    background-color: #A569BD;
}

.button-col-purple:active {
    background-color: #BB8FCE;
}

.button-col-darkred {
    color: #F1F1F1;
    background-color: #C0392B;
}

.button-col-darkred:hover {
    background-color: #CD6155;
}

.button-col-darkred:active {
    background-color: #D98880;
}

.button-col-darkblue {
    color: #F1F1F1;
    background-color: #2980B9;
}

.button-col-darkblue:hover {
    background-color: #5499C7;
}

.button-col-darkblue:active {
    background-color: #7FB3D5;
}

.button-col-darkgreen {
    color: #F1F1F1;
    background-color: #16A085;
}

.button-col-darkgreen:hover {
    background-color: #45B39D;
}

.button-col-darkgreen:active {
    background-color: #73C6B6;
}

.button-col-darkorange {
    color: #F1F1F1;
    background-color: #E67E22;
}

.button-col-darkorange:hover {
    background-color: #EB984E;
}

.button-col-darkorange:active {
    background-color: #F0B27A;
}

.menu-col-grey {
    background-color: #CCCCCC;
}

.menu-col-red {
    background-color: #E74C3C;
}

.menu-col-blue {
    background-color: #3498DB;
}

.menu-col-green {
    background-color: #27AE60;
}

.menu-col-orange {
    background-color: #F39C12;
}

.menu-col-purple {
    background-color: #8E44AD;
}

.menu-col-darkred {
    background-color: #C0392B;
}

.menu-col-darkgreen {
    background-color: #16A085;
}

.menu-col-darkblue {
    background-color: #2980B9;
}

.menu-col-darkorange {
    background-color: #E67E22;
}

.menu-col-grey,
.menu-col-grey a {
    color: #000000;
}

.menu-col-red,
.menu-col-blue,
.menu-col-green,
.menu-col-orange,
.menu-col-purple,
.menu-col-darkred,
.menu-col-darkgreen,
.menu-col-darkblue,
.menu-col-darkorange,
.menu-col-red a,
.menu-col-blue a,
.menu-col-green a,
.menu-col-orange a,
.menu-col-purple a,
.menu-col-darkred a,
.menu-col-darkgreen a,
.menu-col-darkblue a,
.menu-col-darkorange a {
    color: #F1F1F1;
}

.span-col-white {
    color: #F1F1F1;
}

.span-col-white:hover {
    color: #F0F3F4;
}

.span-col-white:active {
    color: #F4F6F7;
    transform: translateY(4px);
}

.span-col-grey {
    color: #CCCCCC;
}

.span-col-grey:hover {
    color: #CACFD2;
}

.span-col-grey:active {
    color: #D7DBDD;
    transform: translateY(4px);
}

.span-col-red {
    color: #E74C3C;
}

.span-col-red:hover {
    color: #EC7063;
}

.span-col-red:active {
    color: #F1948A;
    transform: translateY(4px);
}

.span-col-blue {
    color: #3498DB;
}

.span-col-blue:hover {
    color: #5DADE2;
}

.span-col-blue:active {
    color: #85C1E9;
    transform: translateY(4px);
}

.span-col-green {
    color: #27AE60;
}

.span-col-green:hover {
    color: #52BE80;
}

.span-col-green:active {
    color: #7DCEA0;
    transform: translateY(4px);
}

.span-col-orange {
    color: #F39C12;
}

.span-col-orange:hover {
    color: #F5B041;
}

.span-col-orange:active {
    color: #F8C471;
    transform: translateY(4px);
}

.span-col-purple {
    color: #8E44AD;
}

.span-col-purple:hover {
    color: #A569BD;
}

.span-col-purple:active {
    color: #BB8FCE;
    transform: translateY(4px);
}

.span-col-darkred {
    color: #C0392B;
}

.span-col-darkred:hover {
    color: #CD6155;
}

.span-col-darkred:active {
    color: #D98880;
    transform: translateY(4px);
}

.span-col-darkblue {
    color: #2980B9;
}

.span-col-darkblue:hover {
    color: #5499C7;
}

.span-col-darkblue:active {
    color: #7FB3D5;
    transform: translateY(4px);
}

.span-col-darkgreen {
    color: #16A085;
}

.span-col-darkgreen:hover {
    color: #45B39D;
}

.span-col-darkgreen:active {
    color: #73C6B6;
    transform: translateY(4px);
}

.span-col-darkorange {
    color: #E67E22;
}

.span-col-darkorange:hover {
    color: #EB984E;
}

.span-col-darkorange:active {
    color: #F0B27A;
    transform: translateY(4px);
}

.span-col-white,
.span-col-grey,
.span-col-red,
.span-col-blue,
.span-col-green,
.span-col-orange,
.span-col-purple,
.span-col-darkred,
.span-col-darkgreen,
.span-col-darkblue,
.span-col-darkorange {
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.1s;
}

.text-col-white {
    color: #F1F1F1;
}

.text-col-grey {
    color: #BDC3C7;
}

.text-col-red {
    color: #E74C3C;
}

.text-col-blue {
    color: #3498DB;
}

.text-col-green {
    color: #27AE60;
}

.text-col-orange {
    color: #F39C12;
}

.text-col-purple {
    color: #8E44AD;
}

.text-col-darkred {
    color: #C0392B;
}

.text-col-darkgreen {
    color: #16A085;
}

.text-col-darkblue {
    color: #2980B9;
}

.text-col-darkorange {
    color: #E67E22;
}

.text-col-white,
.text-col-grey,
.text-col-red,
.text-col-blue,
.text-col-green,
.text-col-orange,
.text-col-purple,
.text-col-darkred,
.text-col-darkgreen,
.text-col-darkblue,
.text-col-darkorange {
    background-color: transparent;
    font-size: 30px;
}

.hr-col-grey  {
    border: 1px solid #BDC3C7;
    margin-top: 0;
}

.hr-col-red {
    border: 1px solid #E74C3C;
    margin-top: 0;
}

.hr-col-blue {
    border: 1px solid #3498DB;
    margin-top: 0;
}

.hr-col-green {
    border: 1px solid #27AE60;
    margin-top: 0;
}

.hr-col-orange {
    border: 1px solid #F39C12;
    margin-top: 0;
}

.hr-col-purple {
    border: 1px solid #8E44AD;
    margin-top: 0;
}

.hr-col-darkred {
    border: 1px solid #C0392B;
    margin-top: 0;
}

.hr-col-darkgreen {
    border: 1px solid #16A085;
    margin-top: 0;
}

.hr-col-darkblue {
    border: 1px solid #2980B9;
    margin-top: 0;
}

.hr-col-darkorange {
    border: 1px solid #E67E22;
    margin-top: 0;
}
