@media screen and (max-width: 600px) {
    .min-width-content {
        display: block
    }
    .max-width-content {
        display: none
    }
}

@media screen and (min-width: 600px) {
    .max-width-content {
        display: block
    }
    .min-width-content {
        display: none
    }
    .custom-container {
        margin-top: 15px;
        margin-left: 10%;
        margin-right: 10%
    }
}

@font-face {
    font-family: Agency FB;
    src: url(../fonts/agency-fb.ttf);
    font-weight: 400;
    font-style: normal
}

html {
    position: relative;
    min-height: 100%
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Agency FB", Times, serif
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.custom-font {
    font-family: "Agency FB", Times, serif;
    font-size: 30px
}

.font-size-med {
    font-size: 24px
}

.custom-form input,
.custom-form select {
    font-size: 24px
}

.custom-input input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Agency FB", Times, serif
}

.center-content {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: auto
}

.width-fit-content {
    max-width: 100%;
    white-space: nowrap
}

.full-width {
    width: 100%
}

.image-box {
    padding: 6px
}

.text-align-center,
.image-box td {
    text-align: center
}

.vertical-align-top {
    vertical-align: top
}

#mainDiv {
    margin-bottom: 80px
}

#menuStrip {
    height: 5px;
    transition: background-color .3s;
    z-index: 5
}

#menuDiv {
    position: relative
}

#menuLogo a {
    padding: 0
}

#menuLogo img {
    height: 57px
}

#menuLogo a:hover {
    background-color: transparent
}

#menuButton00,
#menuButton01 {
    position: relative;
    cursor: pointer;
    padding: 10px;
    text-shadow: 2px 2px 4px #b2b2b2;
    transition: text-shadow .3s;
    color: #A6ACAF
}

#menuButton00:active,
#menuButton01:active {
    text-shadow: none
}

#menuChat {
    background-color: #C0392B
}

#menuTeach {
    background-color: #2980B9
}

#menuEmbed {
    background-color: #E67E22
}

#menuSetting {
    background-color: #16A085
}

#menuChatBots {
    background-color: #E74C3C
}

#menuGuide {
    background-color: #3498DB
}

#menuFaq {
    background-color: #27AE60
}

#menuContact {
    background-color: #F39C12
}

#menuChat,
#menuTeach,
#menuEmbed,
#menuSetting,
#menuChatBots,
#menuGuide,
#menuFaq,
#menuContact {
    margin-right: 5px;
    transition: background-color .3s;
    color: #f1f1f1
}

#menuChat:hover,
#menuTeach:hover,
#menuEmbed:hover,
#menuSetting:hover,
#menuChatBots:hover,
#menuGuide:hover,
#menuFaq:hover,
#menuContact:hover {
    background-color: #CCC;
    color: #000
}

#pageHeader {
    padding-top: 64px;
    transition: background-color .3s
}

#pageFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color .3s
}

#chatBox {
    overflow: auto;
    height: 370px;
    max-height: 370px
}

.botBox {
    cursor: pointer;
    transition: all .1s;
    display: inline-block;
    font-family: "Agency FB", Times, serif;
    font-size: 22px;
    color: #E74C3C;
    width: 120px
}

.botBox:active {
    transform: translateY(4px)
}

.botButton {
    border: none;
    padding: 0;
    color: #E74C3C;
    outline: 0;
    background-color: #fff;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    transition: all .1s
}

.botButton:hover {
    color: #EC7063
}

.botButton:active {
    color: #F1948A;
    transform: translateY(4px)
}

.botButton:disabled {
    color: #9F9F9F
}

.qBox {
    margin-bottom: 2px;
    color: #2980B9;
    font-size: 26px;
    font-family: "Agency FB", Times, serif;
    cursor: pointer
}

.qBox td {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 4px
}

.addTable {
    font-size: 26px;
    font-family: "Agency FB", Times, serif
}

.addTable select {
    padding-top: 11px;
    padding-bottom: 11px
}

.addTable textarea {
    width: 100%;
    resize: none;
    margin-top: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.qButton {
    border: none;
    padding: 0;
    color: #2980B9;
    outline: 0;
    background-color: #fff;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    transition: all .1s;
    cursor: pointer
}

.qButton:hover {
    color: #5499C7
}

.qButton:active {
    color: #7FB3D5;
    transform: translateY(4px)
}

.qButton:disabled {
    color: #9F9F9F
}

.bar-button {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 7px
}

.qTemplate {
    color: #2980B9;
    font-size: 24px;
    width: 100%;
    resize: none;
    margin-bottom: 8px;
    margin-top: 2px
}

.qMessage {
    width: 100%;
    height: 200px;
    resize: none
}

.chat-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.bubble-header {
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.bubble-body {
    padding: 5px;
    font-size: 16px
}

.bubble-footer {
    font-size: 10px
}

.avtaar {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 1px solid #021a40
}

.light-red {
    background-color: #FADBD8
}

.light-yellow {
    background-color: #FDEBD0
}

.bubble-bot {
    max-width: 65%;
    color: #21618C;
    background-color: #D6EAF8;
    border-radius: 2px;
    border: 1px solid #317787;
    box-shadow: 0 0 6px #b2b2b2;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
    vertical-align: top
}

.bubble-bot::before {
    background-color: #D6EAF8;
    border-left: 1px solid #21618C;
    border-bottom: 1px solid #21618C;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 11px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.bubble-user {
    max-width: 65%;
    color: #196F3D;
    background-color: #D4EFDF;
    border-radius: 2px;
    border: 1px solid #196F3D;
    box-shadow: 0 0 6px #b2b2b2;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
    vertical-align: top
}

.bubble-user::before {
    background-color: #D4EFDF;
    border-right: 1px solid #196F3D;
    border-top: 1px solid #196F3D;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 11px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.bot {
    float: left;
    margin: 5px 45px 5px 20px
}

.bot::before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -6px
}

.user {
    float: right;
    margin: 5px 20px 5px 45px
}

.user::before {
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -6px
}

.button {
    outline: 0;
    border: none;
    min-width: 100px;
    color: #000;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-color: #5fa2dd;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.button:disabled {
    pointer-events: none;
    background-color: #DFDFDF;
    box-shadow: none;
    color: #9F9F9F
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.button:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.btngrey {
    color: #000;
    background-color: #CCC
}

.btngrey:hover {
    background-color: #CACFD2
}

.btngrey:active {
    background-color: #D7DBDD
}

.btnred {
    color: #FFF;
    background-color: #E74C3C
}

.btnred:hover {
    background-color: #EC7063
}

.btnred:active {
    background-color: #F1948A
}

.btnblue {
    color: #FFF;
    background-color: #3498DB
}

.btnblue:hover {
    background-color: #5DADE2
}

.btnblue:active {
    background-color: #85C1E9
}

.btngreen {
    color: #FFF;
    background-color: #27AE60
}

.btngreen:hover {
    background-color: #52BE80
}

.btngreen:active {
    background-color: #7DCEA0
}

.btnorange {
    color: #FFF;
    background-color: #F39C12
}

.btnorange:hover {
    background-color: #F5B041
}

.btnorange:active {
    background-color: #F8C471
}

.btnpurple {
    color: #FFF;
    background-color: #8E44AD
}

.btnpurple:hover {
    background-color: #A569BD
}

.btnpurple:active {
    background-color: #BB8FCE
}

.btndarkred {
    color: #FFF;
    background-color: #C0392B
}

.btndarkred:hover {
    background-color: #CD6155
}

.btndarkred:active {
    background-color: #D98880
}

.btndarkblue {
    color: #FFF;
    background-color: #2980B9
}

.btndarkblue:hover {
    background-color: #5499C7
}

.btndarkblue:active {
    background-color: #7FB3D5
}

.btndarkgreen {
    color: #FFF;
    background-color: #16A085
}

.btndarkgreen:hover {
    background-color: #45B39D
}

.btndarkgreen:active {
    background-color: #73C6B6
}

.btndarkorange {
    color: #FFF;
    background-color: #E67E22
}

.btndarkorange:hover {
    background-color: #EB984E
}

.btndarkorange:active {
    background-color: #F0B27A
}

.col-grey {
    color: #000;
    background-color: #CCC
}

.col-red {
    color: #FFF;
    background-color: #E74C3C
}

.col-blue {
    color: #FFF;
    background-color: #3498DB
}

.col-green {
    color: #FFF;
    background-color: #27AE60
}

.col-orange {
    color: #FFF;
    background-color: #F39C12
}

.col-purple {
    color: #FFF;
    background-color: #8E44AD
}

.col-darkred {
    color: #FFF;
    background-color: #C0392B
}

.col-darkgreen {
    color: #FFF;
    background-color: #16A085
}

.col-darkblue {
    color: #FFF;
    background-color: #2980B9
}

.col-darkorange {
    color: #FFF;
    background-color: #E67E22
}

.spanwhite {
    color: #FFF
}

.spanwhite:hover {
    color: #F0F3F4
}

.spanwhite:active {
    color: #F4F6F7;
    transform: translateY(4px)
}

.spangrey {
    color: #CCC
}

.spangrey:hover {
    color: #CACFD2
}

.spangrey:active {
    color: #D7DBDD;
    transform: translateY(4px)
}

.spanred {
    color: #E74C3C
}

.spanred:hover {
    color: #EC7063
}

.spanred:active {
    color: #F1948A;
    transform: translateY(4px)
}

.spanblue {
    color: #3498DB
}

.spanblue:hover {
    color: #5DADE2
}

.spanblue:active {
    color: #85C1E9;
    transform: translateY(4px)
}

.spangreen {
    color: #27AE60
}

.spangreen:hover {
    color: #52BE80
}

.spangreen:active {
    color: #7DCEA0;
    transform: translateY(4px)
}

.spanorange {
    color: #F39C12
}

.spanorange:hover {
    color: #F5B041
}

.spanorange:active {
    color: #F8C471;
    transform: translateY(4px)
}

.spanpurple {
    color: #8E44AD
}

.spanpurple:hover {
    color: #A569BD
}

.spanpurple:active {
    color: #BB8FCE;
    transform: translateY(4px)
}

.spandarkred {
    color: #C0392B
}

.spandarkred:hover {
    color: #CD6155
}

.spandarkred:active {
    color: #D98880;
    transform: translateY(4px)
}

.spandarkblue {
    color: #2980B9
}

.spandarkblue:hover {
    color: #5499C7
}

.spandarkblue:active {
    color: #7FB3D5;
    transform: translateY(4px)
}

.spandarkgreen {
    color: #16A085
}

.spandarkgreen:hover {
    color: #45B39D
}

.spandarkgreen:active {
    color: #73C6B6;
    transform: translateY(4px)
}

.spandarkorange {
    color: #E67E22
}

.spandarkorange:hover {
    color: #EB984E
}

.spandarkorange:active {
    color: #F0B27A;
    transform: translateY(4px)
}

.spanwhite,
.spangrey,
.spanred,
.spanblue,
.spangreen,
.spanorange,
.spanpurple,
.spandarkred,
.spandarkgreen,
.spandarkblue,
.spandarkorange {
    background-color: transparent;
    cursor: pointer;
    font-family: "Agency FB", Times, serif;
    font-size: 30px;
    transition: all .1s
}

.text-white {
    color: #FFF
}

.text-grey {
    color: #BDC3C7
}

.text-red {
    color: #E74C3C
}

.text-blue {
    color: #3498DB
}

.text-green {
    color: #27AE60
}

.text-orange {
    color: #F39C12
}

.textpurple {
    color: #8E44AD
}

.text-darkred {
    color: #C0392B
}

.text-darkgreen {
    color: #16A085
}

.text-darkblue {
    color: #2980B9
}

.text-darkorange {
    color: #E67E22
}

.text-white,
.text-grey,
.text-red,
.text-blue,
.text-green,
.text-orange,
.textpurple,
.text-darkred,
.text-darkgreen,
.text-darkblue,
.text-darkorange {
    background-color: transparent;
    font-family: "Agency FB", Times, serif;
    font-size: 30px
}

.text-grey hr {
    border: 1px solid #BDC3C7;
    margin-top: 0
}

.text-red hr {
    border: 1px solid #E74C3C;
    margin-top: 0
}

.text-blue hr {
    border: 1px solid #3498DB;
    margin-top: 0
}

.text-green hr {
    border: 1px solid #27AE60;
    margin-top: 0
}

.text-orange hr {
    border: 1px solid #F39C12;
    margin-top: 0
}

.textpurple hr {
    border: 1px solid #8E44AD;
    margin-top: 0
}

.text-darkred hr {
    border: 1px solid #C0392B;
    margin-top: 0
}

.text-darkgreen hr {
    border: 1px solid #16A085;
    margin-top: 0
}

.text-darkblue hr {
    border: 1px solid #2980B9;
    margin-top: 0
}

.text-darkorange hr {
    border: 1px solid #E67E22;
    margin-top: 0
}