<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://jquery.com/ -->
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <!-- http://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- https://angularjs.org/ -->
    <script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
    <!-- http://fontawesome.io/ -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/font-awesome.css') }}">
    <!-- CUSTOM-FAVICON -->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico') }}">
    <!-- CUSTOM-STYLESHEET -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/custom-styles.css') }}">
    <!-- CUSTOM-SCRIPT-->
    <script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>
    <title>MakeMyBot: {{menuTitle}}</title>
</head>
<script>
$(document).ready(function() {
    $('.menu-active').hover(function() {
        $('#menuStrip').css('background-color', '#CCCCCC');
    }, function() {
        $('#menuStrip').css('background-color', '{{colorHex}}');
    });

    window.addEventListener("beforeunload", function() {
        document.body.classList.add("animate-out");
    });

    window.onbeforeunload = function() {
        cAction(2, event);
        return null;
    };
});
</script>

<body class="main-body">
    <label hidden id="botId" value="{{session['user_id']}}"></label>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-group" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{url_for('showHome')}}"><img src="{{url_for('static', filename='img/loader.gif')}}" class="custom-nav-image" alt="loader-img">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-group">
                <ul class="nav navbar-nav pull-right content-full-width">
                    {% if session['user_id']: %}
                    <li id='menuChat' {% if menuTitle=='Chat' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showChat')}}"><span class='fa fa-comments-o'></span></a>
                    </li>
                    <li id='menuTeach' {% if menuTitle=='Teach' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showTeach')}}"><span class='fa fa-pencil-square-o'></span></a>
                    </li>
                    <li id='menuSetting' {% if menuTitle=='Setting' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showSetting00')}}"><span class='fa fa-cogs'></span></a>
                    </li>
                    <li id='menuEmbed' {% if menuTitle=='Embed' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showEmbed')}}"><span class='fa fa-code'></span></a>
                    </li>
                    {% endif %}
                    <li id='menuChatBots' {% if menuTitle=='ChatBots' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showChatbots00')}}"><span class='fa fa-users'></span></a>
                    </li>
                    <li id='menuGuide' {% if menuTitle=='Guide' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showGuide')}}"><span class='fa fa-question-circle-o'></span></a>
                    </li>
                    <li id='menuFaq' {% if menuTitle=='FAQs' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showFAQs')}}"><span class='fa fa-list'></span></a>
                    </li>
                    <li id='menuContact' {% if menuTitle=='Contact' : %} class="menu-active" {% endif %}>
                        <a href="{{url_for('showContact')}}"><span class='fa fa-envelope-o'></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menuStrip" class="{{menuColor}}"></div>
    </nav>
    <header id="pageHeader" class="{{menuColor}}">
        <div class="container">
            <span class="header-title">{{menuTitle}}</span> {% if session['user_id']: %}
            <a href="{{url_for('showLogout')}}">
                <button type="button" class="button {{buttonColor}} pull-right"><i class="fa fa-sign-out"></i>&zwj;</button>
            </a>
            <button onclick='showName()' type="button" class="button {{buttonColor}} pull-right">
                <i class="fa fa-user"></i>&nbsp;
                <span hidden id='userContent'>{{session['name']}}</span>
            </button>
            {% else %}
            <a class="button {{buttonColor}} pull-right" href="{{url_for('showRegister')}}" role="button">
                <span class="fa fa-user-plus"></span>
            </a>
            <a class="button {{buttonColor}} pull-right" href="{{url_for('showLogin')}}" role="button">
                <span class="fa fa-sign-in"></span>
            </a>
            {% endif %}
        </div>
    </header>
    <div id="mainDiv" class="container">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="well well-sm">
            <ul>
                {% for message in messages %}
                <li>
                    <span class="font-size-large">{{ message }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
    </div>
    <footer id="pageFooter" class="{{menuColor}}">
        <h3 class="text-center">
            <a href="{{url_for('showChatbots00')}}">Chatbots</a> |
            <a href="{{url_for('showGuide')}}">Guide</a> |
            <a href="{{url_for('showFAQs')}}">FAQs</a> |
            <a href="{{url_for('showContact')}}">Contact</a> |
            <a href="https://github.com/kaushalmeena1996/myapp-makemybot">Github</a>
        </h3>
    </footer>
</body>

</html>
