{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <div class="text-col-red">
            <span>[ Search ]</span>
            <hr class="hr-col-red">
            <div class="input-group input-group-lg">
                <span class="input-group-btn">
                <button onclick="botAction(1, 1, this)" id="searchIcon" class="btn btn-lg btn-danger"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
                <input onkeyup="botAction(1, 1, this)" id="searchInput" autofocus class="form-control custom-input" name="searchInput" placeholder="search chatbots..." type="text"></input>
            </div>
            <br>
            <div hidden id="botContent" class="well well-sm text-center">
                <script>
                botAction(0, 1, this);
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
