{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <div class="text-col-red">
            <span>[ Chat ]</span>
            <hr class="hr-col-red">
            <div class="thumbnail">
                <div id="chatBox" class="well">
                    <script>
                    bChat(0, {{botInfo['bot_id']}}, event);
                    </script>
                    <div hidden id="botMessage" class="chat-body">
                        <table class="table table-responsive">
                            <tr>
                                <td class="avtaar">
                                    <img class="avtaar-img light-red" src="\static\avtaar\{{botInfo['bot_image']}}" alt="Bot-Image">
                                </td>
                                <td class="text-left">
                                    <div class="bubble-bot bot round">
                                        <div class="bubble-header">{{botInfo['bot_name']}}</div>
                                        <div id="messageBody" class="bubble-body center"></div>
                                        <div id="messageTime" class="bubble-footer">
                                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div hidden id="userMessage" class="container chat-body">
                        <table class="table table-responsive">
                            <tr>
                                <td class="text-right">
                                    <div class="bubble-user user round">
                                        <div class="bubble-header">User</div>
                                        <div id="messageBody" class="bubble-body center"></div>
                                        <div id="messageTime" class="bubble-footer">
                                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="avtaar">
                                    <img class="avtaar-img light-yellow" src="{{ url_for( 'static', filename='avtaar/user_default.png' ) }}" alt="User-Image">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="input-group input-group-lg">
                    <input onkeyup="bChat(1, {{botInfo['bot_id']}}, event)" id="chatInput" autocomplete="off" autofocus class="form-control" name="chatInput" placeholder="type something..." type="text"></input>
                    <span class="input-group-btn">
                    <button id="chatButton" onclick="bChat(1, {{botInfo['bot_id']}}, event)" class="btn btn-lg btn-danger"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </span>
                </div>
            </div>
            <!--
            <span>[ Comments ]</span>
            <hr class="hr-col-red">
            <div id="commentBox" class="container">
                <div id="disqus_thread">
                    <script>
                    showDisqus("http://myapp-makemybot.herokuapp.com/chatbots/{{botInfo['bot_id']}}/chat", {{botInfo['bot_id']}});
                    </script>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}
