{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <div class="text-col-darkorange">
            <span>[ Embed Code ]</span>
            <hr class="hr-col-darkorange">
            <span class="font-size-medium">Add the following code to embed your chatbot to your website.</span>
            <br>
            <br>
            <div class="form-group">
                <label for="cMessage">code :</label>
                <textarea class="form-control" rows="50" id="cMessage">
<script>
var toogle = 0;

function toogleFrame() {
    if (toogle == 0) {
        document.getElementById('windowFrame').style.height = '65px';
        toogle = 1;
    } else {
        document.getElementById('windowFrame').style.height = '505px';
        toogle = 0;
    }
}
</script>
<style>
#windowTable {
    position: absolute;
    bottom: 0;
    right: 0;
}

#windowButton {
    vertical-align: top;
    color: #C0392B;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
}

#windowFrame {
    height: 505px;
    width: 400px;
    border: 2px solid #C0392B;
    border-radius: 5px 0px 0px 0px;
}
</style>
<table id="windowTable">
    <tr>
        <td onclick="toogleFrame()" id="windowButton"><span>[X]</span></td>
        <td>
            <iframe id="windowFrame" scrolling="no" frameborder="0" src="http://myapp-makemybot.herokuapp.com/chatbots/{{botInfo['bot_id']}}/window"></iframe>
        </td>
    </tr>
</table>
                </textarea>
            </div>
            <br>
            <button onclick="copyText()" type="button" class="button button-col-darkorange">Copy</button>
        </div>
    </div>
</div>
{% endblock %}
