{% extends "base.html" %}
{% block content %}
	<div class="w3-container w3-custom-container w3-custom-font">
		<form class="w3-container w3-custom-form" >
			<div class="w3-text-col-darkorange"><span>[ Embed Code ]</span><hr></div>
			<p class="w3-text-col-darkorange w3-margin-top w3-margin-bottom">add the following code to embed your chatbot to your website.</p>
			<textarea name="cMessage" id="cMessage" class="w3-input w3-border w3-qMessage" type="text" required></textarea>
			<button type="button" class="w3-button w3-xxlarge w3-button-col-darkorange w3-margin-top">Copy</button>
		</form>
	</div>
{% endblock %}