{% extends "base.html" %}
{% block content %}
	<div class="w3-container w3-custom-container w3-custom-font">
		<h1>What are Chatterbots ?</h1>
		<p>A chatbot (or chatterbot, or chat bot) is a computer program designed to simulate an intelligent
			conversation with one or more human users via auditory or textual methods. Programs playing this role
			are sometimes referred to as Artificial Conversational Entities, talk bots or chatterboxes. (Wikipedia.org, 2015)
		</p>
		<h1>What is artificial intelligence (AI)?</h1>
		<p>Artificial intelligence (AI) is the intelligence exhibited by machines or software
			and the branch of computer science that aims to create it. Textbooks define the field as
			“the study and design of intelligent agents,” where an intelligent agent is a system that perceives
			its environment and takes actions that maximize its chances of success. (Wikipedia.org, 2015)
		</p>
	</div>
{% endblock %}