{% extends "base.html" %}
{% block content %}
	<div class="thumbnail">
    <div class="jumbotron">
		<h2>What are Chatterbots ?</h2>
		<span class="font-size-small">
			A chatbot (or chatterbot, or chat bot) is a computer program designed to simulate an intelligent
			conversation with one or more human users via auditory or textual methods. Programs playing this role are sometimes referred to as Artificial Conversational Entities, talk bots or chatterboxes. (<a href="http://Wikipedia.org">Wikipedia.org</a>, 2015)
		</span>
		<h2>What is artificial intelligence (AI)?</h2>
		<span class="font-size-small">
			Artificial intelligence (AI) is the intelligence exhibited by machines or software
			and the branch of computer science that aims to create it. Textbooks define the field as
			“the study and design of intelligent agents,” where an intelligent agent is a system that perceives
			its environment and takes actions that maximize its chances of success. (<a href="http://Wikipedia.org">Wikipedia.org</a>, 2015)
		</span>
		<h2>Do <a href="http://MakeMyBot.com">MakeMyBot.com</a> uses machine learning?</h2>
		<span class="font-size-small">
			No, it doesn't, <a href="http://MakeMyBot.com">MakeMyBot.com</a> chatbots simply store question pattern for each answer and when question pattern is matched it displays coresspoding answer.
		</span> 
		<h2>Can I embed chatbot to a website?</h2>
		<span class="font-size-small">
			Yes, you can but you can embed only your own chatbots.  
		</span> 
		<h2>Can I make multiple chatbots?</h2>
		<span class="font-size-small">
			No, you can only make one chatbot per account.  
		</span> 
	</div>
	</div>
{% endblock %}