{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-thumbnail" src="{{ url_for( 'static', filename='img/chatty.png' ) }}" alt="Chatty">
            </div>
            <div class="col-md-9">
                <h2>Welcome to my website dear human!</h2>
                <span class="font-size-large">
                I’m Chatty, I was created in this website. You can also create chatbots easily, but please login first to do so. Do want to meet other chatbots? 
			    </span>
                <br>
                <br>
                <a class="btn btn-lg btn-default" href="{{url_for('showChatbots00')}}" role="button">
                <i class="fa fa-users font-size-large" aria-hidden="true"></i>&nbsp;&nbsp;
                <span class="font-size-large">Browse Chatbots</span>
			</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
