{% extends "base.html" %}
{% block content %}
    <div class="w3-container w3-custom-container">
        <form class="w3-container w3-custom-form w3-custom-font" method="post" action="{{ url_for( 'showLogin' ) }}">
            <div class="w3-section">
                <label class="w3-text-col-purple">e-mail :</label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="e-mail" value="{{email}}" required>
                <label class="w3-text-col-purple">password :</label>
                <input class="w3-input w3-border" type="password" name="password" value="{{password}}" required>
                <input id="actionButton" class="w3-button w3-button-col-purple w3-section w3-padding" type="submit" value="Login"></input>
                <br>
                <span class="w3-xlarge w3-left w3-text-col-purple">Not Registered? &nbsp;</span>
                <span class="w3-xlarge w3-span-col-purple w3-left">
                    <a href="{{ url_for( 'showRegister' ) }}">[ <i class="fa fa-user-plus"></i> Register ]</a> 
                </span>
            </div>
        </form>
    </div>
{% endblock %}