{% extends "base.html" %}
{% block content %}
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <div id="errorMsg"></div>
    <div class="w3-container w3-custom-container">
        <form class="w3-container w3-custom-form w3-custom-font" method="post" action="{{ url_for( 'showLogin' ) }}">
            <div class="w3-section">
                <label class="w3-text-col-purple">e-mail :</label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="e-mail" value="{{email}}" required>
                <label class="w3-text-col-purple">password :</label>
                <input class="w3-input w3-border" type="password" name="password" value="{{password}}" required>
                <input id="actionButton" class="w3-button w3-button-col-purple w3-section w3-padding" type="submit" value="Login"></input>
                <span class="g-signin" data-scope="openid email" data-clientid="{{session['g_client_id']}}" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force"></span>
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
                <br>
                <span class="w3-xlarge w3-left w3-text-col-purple">Not Registered? &nbsp;</span>
                <span class="w3-xlarge w3-span-col-purple w3-left">
                    <a href="{{ url_for( 'showRegister' ) }}">[ <i class="fa fa-user-plus"></i> Register ]</a>
                </span>
            </div>
        </form>
    </div>
    <script>
    function signInCallback(authResult) {
        $("#errorMsg").html("<ul><li class='fg-white'><h3>please wait few seconds while client makes a server-side call.</h3></li></ul><br>");
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page.
            $.ajax({
                type: 'POST',
                url: "/gconnect?state={{session['state']}}",
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        window.location.href = "{{ url_for('showLogin') }}";
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $("#errorMsg").html("<ul><li class='fg-white'><h3>failed to make a server-side call. check your configuration and console.</h3></li></ul><br>");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $("#errorMsg").html('status : ' + textStatus + 'error : ' + errorThrown);
                }
            });
        }
    }
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: "{{session['fb_app_id']}}",
            cookie: true, // enable cookies to allow the server to access
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.2' // use version 2.2
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
        $("#errorMsg").html("<ul><li class='fg-white'><h3>please wait few seconds while client makes a server-side call.</h3></li></ul><br>");
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token);
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            $.ajax({
                type: 'POST',
                url: "/fbconnect?state={{session['state']}}",
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        window.location.href = "{{ url_for('showLogin') }}";
                    } else {
                        $("#errorMsg").html("<ul><li class='fg-white'><h3>failed to make a server-side call. check your configuration and console.</h3></li></ul><br>");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $("#errorMsg").html('status : ' + textStatus + 'error : ' + errorThrown);
                }
            });
        });
    }
</script>
{% endblock %}