{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <form action="{{ url_for( 'showSetting02' ) }}" method="post">
            <div class="text-col-darkgreen">
                <span>[ Delete Account ]</span>
                <hr class="hr-col-darkgreen">
                <span>Do you really want to delete your account ?</span>
                <br>
                <br>
                <input class="button button-col-darkgreen" type="submit" value="Yes"></input>
                <a href="{{url_for('showSetting00')}}">
                    <button type="button" class="button button-col-darkgreen">No</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
