{% extends "base.html" %}
{% block content %}
	<div class="w3-container w3-custom-container w3-custom-font">
		<form class="w3-container w3-custom-form" action="{{ url_for( 'showSetting00' ) }}" method="post" enctype=multipart/form-data>
			
			<div class="w3-text-col-darkgreen"><span>[ Bot Setting ]</span><hr></div>
			
			<table class="w3-custom-font w3-text-col-darkgreen">
				<tr>
					<td rowspan="2" class="w3-vertical-align-top">
						bot image :
						<div class="w3-border w3-image-box">
							<table>
								<tr>
									<td class="w3-border" rowspan="3">
										<label hidden id="botOld" value="{{botInfo['bot_image']}}"></label>
										<input hidden id="botContainer" name="bot_container" type="text" value="{{botInfo['bot_image']}}"></input>
										<input hidden onchange="previewImage(event)" name="bot_image" type="file" accept="image/jpg,image/png,image/jpeg,image/gif"></input>
									<img id="botImage" class="w3-border w3-center-content" onerror="defaulImage()" height="130px" width="130px" src="/static/avtaar/{{botInfo['bot_image']}}" alt="Bot-Image" required></img></td>
									<td class="w3-border"><span id="openImage" onclick="settingAction(0)" class="w3-span-col-darkgreen">[ <i class="fa fa-folder-o" aria-hidden="true"></i> ]</span></td>
								</tr>
								
								<tr><td class="w3-border"><span onclick="settingAction(1)" class="w3-span-col-darkgreen">[ <i class="fa fa-undo" aria-hidden="true"></i> ]</span></td></tr>
								<tr><td class="w3-border"><span onclick="settingAction(2)" class="w3-span-col-darkgreen">[ <i class="fa fa-ban" aria-hidden="true"></i> ]</span></td></tr>
							</table>
						</div>
					</td>
					
					<td class="w3-padding-left w3-vertical-align-top">
						bot name :
						<input name="bot_name" class="w3-input w3-border" type="text" value="{{bot_name}}" required>
					</td>
				</tr>
				
				<tr>
					<td class="w3-padding-left w3-vertical-align-top">
						bot availability :
						<select class="w3-select w3-border w3-padding-left w3-padding-right" name="bot_availability">
							<option value="N" {% if botInfo['bot_availability'] == 'None'  %} selected {% endif %}>[ None ]</option>
							<option value="U" {% if botInfo['bot_availability'] == 'Users'  %} selected {% endif %}>[ Users ]</option>
							<option value="P" {% if botInfo['bot_availability'] == 'Public'  %} selected {% endif %}>[ Public ]</option>
						</select>
					</td>
				</tr>
			</table>
			
			<div class="w3-padding-top">
				<input name="auto_add" class="w3-check" type="checkbox" {% if botInfo['auto_add']:  %} checked {% endif %}>
				<label class="w3-validate w3-text-col-darkgreen">automatically add unmatched question asked by user to database.</label>
			</div>
			<div class="w3-text-col-darkgreen w3-custom-font w3-margin-top"><span>[ Profile Setting ]</span><hr></div>
			
			<label class="w3-text-col-darkgreen w3-margin-top">profile name :</label>
			<input name="profile_name" class="w3-input w3-border" type="text" value="{{profile_name}}" required>
			
			<div class="w3-margin-top"><a href="{{ url_for( 'showSetting01' ) }}"><span class="w3-span-col-darkgreen">[ change password ]</span></a> <a href="{{ url_for( 'showSetting02' ) }}"><span class="w3-span-col-darkgreen">[ delete account ]</span></div>
			
			<button class="w3-button w3-xxlarge w3-button-col-darkgreen w3-margin-top">Save</button>
			
		</form>
	</div>
{% endblock %}