{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <form action="{{ url_for( 'showSetting00' ) }}" method="post" enctype="multipart/form-data">
            <div class="text-col-darkgreen">
                <span>[ Bot Setting ]</span>
                <hr class="hr-col-darkgreen">
                <div class="row">
                    <div class="col-md-4">
                        <label for="bot_image">bot image :</label>
                        <label hidden id="botOld" value="{{botInfo['bot_image']}}"></label>
                        <input hidden id="botContainer" name="bot_container" type="text" value="{{botInfo['bot_image']}}"></input>
                        <input class="form-control input-lg" id="botUpload" onchange="previewImage(event)" name="bot_image" type="file" accept="image/*"></input>
                        <div class="well">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <img id="botImage" class="img-thumbnail" onerror="defaulImage()" src="/static/avtaar/{{botInfo['bot_image']}}" alt="bot-image" required></img>
                                </div>
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button onclick="settingAction(0)" id="buttonCamera" type="button" class="btn btn-default btn-lg">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                        </button>
                                        <button onclick="settingAction(1)" id="buttonCamera" type="button" class="btn btn-default btn-lg">
                                            <i class="fa fa-undo" aria-hidden="true"></i>
                                        </button>
                                        <button onclick="settingAction(2)" id="buttonCamera" type="button" class="btn btn-default btn-lg">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="bot_name">bot name :</label>
                            <input class="form-control input-lg" type="text" name="bot_name" value="{{bot_name}}" required></input>
                        </div>
                        <div class="form-group">
                            <label for="bot_availability">bot_availability :</label>
                            <select class="form-control input-lg" name="bot_availability">
                                <option value="N" {% if botInfo[ 'bot_availability']=='None' %} selected {% endif %}>[ None ]</option>
                                <option value="U" {% if botInfo[ 'bot_availability']=='Users' %} selected {% endif %}>[ Users ]</option>
                                <option value="P" {% if botInfo[ 'bot_availability']=='Public' %} selected {% endif %}>[ Public ]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input name="auto_add" class="checkbox-size-large" type="checkbox" {% if botInfo[ 'auto_add']: %} checked {% endif %}>
                    <label>automatically add unmatched question asked by user to database.</label>
                </div>
                <div class="form-group">
                    <input name="auto_add" class="checkbox-size-large" type="checkbox" {% if botInfo[ 'auto_run']: %} checked {% endif %}>
                    <label>automatically run user-scripts.</label>
                </div>
                <span>[ Profile Setting ]</span>
                <hr class="hr-col-darkgreen">
                <div class="form-group">
                    <label for="profile_name">profile name :</label>
                    <input class="form-control input-lg" type="text" name="profile_name" value="{{profile_name}}"></input>
                </div>
                <a class="btn btn-default font-size-small" href="{{url_for('showSetting01')}}" role="button">
                    <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Change Password
                </a>
                <a class="btn btn-default font-size-small" href="{{url_for('showSetting02')}}" role="button">
                    <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Delete Account
                </a>
                <br>
                <br>
                <input id="actionButton" class="button button-col-darkgreen" type="submit" value="Save"></input>
            </div>
        </form>
    </div>
</div>
{% endblock %}
