{% extends "base.html" %} {% block content %}
<div class="thumbnail">
    <div class="jumbotron">
        <div class="text-col-darkblue">
            <span>[ Search ]</span>
            <hr class="hr-col-darkblue">
            <div class="input-group input-group-lg">
                <span class="input-group-btn">
                <button onclick="sAction(1)" id="searchIcon" class="btn btn-lg btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
                <input onkeyup="sAction(1)" id="searchInput" autofocus class="form-control custom-input" name="searchInput" placeholder="search patterns..." type="text"></input>
            </div>
            <br>
            <div hidden id="searchResult" class="panel panel-default">
                <div id="searchHeader" class="panel-heading">
                    <span>[ Result ]</span>
                    <button onclick="utilityfadeOut('#searchResult')" class="btn btn-lg btn-default pull-right"><i class="fa fa-times"></i></button>
                </div>
                <div id="boxContent" class="panel-body">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button onclick="utilityToggle('#infoBox')" class="button button-col-darkblue btn-block"><i class="fa fa-info"></i>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button onclick="utilityToggle('#addBox')" class="button button-col-darkblue btn-block"><i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button onclick="utilityToggle('#browseBox')" class="button button-col-darkblue btn-block"><i class="fa fa-list"></i>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button onclick="utilityToggle('#logBox')" class="button button-col-darkblue btn-block"><i class="fa fa-history"></i>
                    </button>
                </div>
            </div>
            <br>
            <div hidden id="infoBox" class="panel panel-default">
                <div id="infoHeader" class="panel-heading">
                    <span>[ Info ]</span>
                    <button onclick="utilityfadeOut('#infoBox')" class="btn btn-lg btn-default pull-right"><i class="fa fa-times"></i></button>
                </div>
                <div id="boxContent" class="panel-body">
                </div>
            </div>
            <div hidden id="addBox" class="panel panel-default">
                <div id="addHeader" class="panel-heading">
                    <span>[ Add ]</span>
                    <div class="btn-group pull-right">
                        <button id="aSave" onclick="aAction (1)" class="btn btn-lg btn-default"><i class="fa fa-save"></i></button>
                        <button id="aRefresh" onclick="aAction (2)" class="btn btn-lg btn-default"><i class="fa fa-refresh"></i></button>
                        <button id="aCross" onclick="aAction (3)" class="btn btn-lg btn-default"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div id="boxContent" class="panel-body">
                    <div class="form-group">
                        <select id="aSelect" class="form-control input-lg" onchange="aAction (0)">
                            <option value="Q">[Q][Question.Type]</option>
                            <option value="R">[R][Random.Type]</option>
                            <option value="G">[G][Greeting.Type]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="aPattern" class="form-control input-lg" autocomplete="off" placeholder="< Enter question to be matched by bot. >"></input>
                    </div>
                    <div class="form-group">
                        <textarea id="aTemplate" class="form-control input-lg" autocomplete="off" placeholder="< Enter what bot should say in response to the above question. >" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div hidden id="browseBox" class="panel panel-default">
                <div id="browseHeader" class="panel-heading">
                    <span>[ Browse ]</span>
                    <button onclick="utilityfadeOut('#browseBox')" class="btn btn-lg btn-default pull-right"><i class="fa fa-times"></i></button>
                </div>
                <div class="panel-body">
                    <div class="form-group col-xs-6">
                        <select id="bSelect01" onchange="bAction (1)" class="form-control input-lg" name="bOption01">
                            <option value="*">[*][All]</option>
                            <option value="A">[A][Answered]</option>
                            <option value="U">[U][Unanswered]</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <select id="bSelect02" onchange="bAction (1)" class="form-control input-lg" name="bOption02">
                            <option value="*">[*][All.Type]</option>
                            <option value="Q">[Q][Question.Type]</option>
                            <option value="G">[G][Greeting.Type]</option>
                            <option value="R">[R][Random.Type]</option>
                        </select>
                    </div>
                    <div id="boxContent">
                    </div>
                </div>
            </div>
            <div hidden id="logBox" class="panel panel-default">
                <div id="logHeader" class="panel-heading">
                    <span>[ Log ]</span>
                    <button onclick="utilityfadeOut('#logBox')" class="btn btn-lg btn-default pull-right"><i class="fa fa-times"></i></button>
                </div>
                <div id="boxContent" class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
