<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://jquery.com/ -->
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <!-- http://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- https://angularjs.org/ -->
    <script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
    <!-- http://fontawesome.io/ -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/font-awesome.css') }}">
    <!-- CUSTOM-FAVICON -->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico') }}">
    <!-- CUSTOM-STYLESHEET -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/custom-styles.css') }}">
    <!-- CUSTOM-SCRIPT-->
    <script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>
    <title>MakeMyBot: {{menuTitle}}</title>
</head>

<body class="custom-font">
    <div class="panel panel-default">
        <div id="windowHeader" class="panel-heading">
            <span class="font-size-large text-col-darkred">&nbsp;&nbsp;<i class="fa fa-comments-o"></i> Chat</span>
            <a class="pull-right" target="_parent" href="{{url_for('showHome')}}">
                <img class="custom-nav-image" height="40px" src="{{url_for('static',filename='img/loader.gif')}}" alt="loader-img">
            </a>
        </div>
        <div id="chatBox" class="panel-body">
            <script>
            bChat(0, {{botInfo['bot_id']}}, event);
            </script>
            <div hidden id="botMessage" class="chat-body">
                <table class="table table-responsive">
                    <tr>
                        <td class="avtaar">
                            <img class="avtaar-img light-red" src="\static\avtaar\{{botInfo['bot_image']}}" alt="Bot-Image">
                        </td>
                        <td class="text-left">
                            <div class="bubble-bot bot round">
                                <div class="bubble-header">{{botInfo['bot_name']}}</div>
                                <div id="messageBody" class="bubble-body center"></div>
                                <div id="messageTime" class="bubble-footer">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div hidden id="userMessage" class="container chat-body">
                <table class="table table-responsive">
                    <tr>
                        <td class="text-right">
                            <div class="bubble-user user round">
                                <div class="bubble-header">User</div>
                                <div id="messageBody" class="bubble-body center"></div>
                                <div id="messageTime" class="bubble-footer">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                                </div>
                            </div>
                        </td>
                        <td class="avtaar">
                            <img class="avtaar-img light-yellow" src="{{ url_for( 'static', filename='avtaar/user_default.png' ) }}" alt="User-Image">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group input-group-lg ">
                <input onkeyup="bChat(1, {{botInfo['bot_id']}}, event)" id="chatInput" autocomplete="off" autofocus class="form-control" name="chatInput" placeholder="type something..." type="text"></input>
                <span class="input-group-btn">
                <button id="chatButton" onclick="bChat(1, {{botInfo['bot_id']}}, event)" class="btn btn-lg btn-danger"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </span>
            </div>
        </div>
    </div> 
</body>

</html>
